readonly privateEnvFile='./.local.env'

if [ -r "${privateEnvFile}" ]; then
  dotenv "${privateEnvFile}"
else
  >&2 printf '[WARNING] direnv: "%s" missing!\n' "${privateEnvFile}"
fi

watch_file "${privateEnvFile}"
